<% if @error %>
  <div class="panel panel-danger">
    <div class="panel-body">
      <%= @error %>
    </div>
  </div>
<% elsif @success %>
  <div class="panel panel-success">
    <div class="panel-body">
      <%= @success %>
    </div>
  </div>
<% end %>