<div class="homepage">
  <div class="row">
    <div class="span6">
      <div class="topad">
        <div class="picture picture-left"></div>
        <h3>თქვენი დავალიანება</h3>
        <p>
          გაიგეთ თქვენი დავალიანება, ნახეთ დარიცხვის ისტორია,
          მიიღეთ SMS შეტყობინენბები დაგვიანებულ გადახდებზე.
        </p>
        <p class="link">
          <%= link_to 'გადასვლა &rarr;'.html_safe %>
        </p>
      </div>
    </div>
    <div class="span6">
      <div class="topad">
        <div class="picture picture-right"></div>
        <h3>ქსელზე მიერთება</h3>
        <p>
          აპირებთ გახდეთ თელასის აბონენტი?
          შეავსეთ განაცხადი ინტერნეტით და აკონტროლეთ მთელი პროცესი.
        </p>
        <p>
          <%= link_to 'გადასვლა &rarr;'.html_safe %>
        </p>
      </div>
    </div>
  </div>
  <% if current_user.blank? %>
  <div class="out" style="position: relative; height: 175px; margin-top: 16px;">
    <div style="position: absolute; background: #a2cff0; left: -1000px; top: 0; right: -1000px; bottom: 0; padding-top: 16px; border: 1px solid #1a99a9;">
      <div style="position: absolute; left: 1000px;">
        <div class="row">
          <div class="span6">
            <p>
              პირველად ხართ აქ?
            </p>
            <p>
              <%= link_to 'გაიარეთ რეგისტრაცია &rarr;'.html_safe, register_url, class: ['btn', 'btn-primary', 'btn-large'] %>
            </p>
            <p style="font-size: 12px; color: #777; padding-right: 50px;">
              როგორც რეგისტრირებულ მომხმარებელს შეგეძლებათ მრავი სასრგებლო
              ფუნქციით სარგებლობა!
            </p>
          </div>
          <div class="span6">
            <p>
              უკვე რეგისტრირებული ხართ?
            </p>
            <p>
              <%= link_to 'ავტორიზაცია &rarr;'.html_safe, login_url, class: ['btn', 'btn-success', 'btn-large'] %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>