<div class="row">
  <div class="span8">
    <div class="module">
      <h1>
        <%= t('models.sys_user.actions.login') %>
        <p><%= t('models.sys_user.actions.login_description') %></p>
      </h1>
      <%= rich_form({ email: params[:email], password: params[:password] }) do |f|
        f.text_field :email, autofocus: true, label: t('models.sys_user.email')
        f.password_field :password, label: t('models.sys_user.password')
        f.submit @title
      end %>
    </div>
  </div>
  <div class="span4">
    <div class="module">
      register ...
    </div>
  </div>
</div>