<div class="panel panel-success">
  <div class="panel-heading">
    <h4 style="margin: 0;"><i class="fa fa-info-circle"></i> <%= @title %></h4>
  </div>
  <div class="panel-body">
    <p><%= t('models.sys_user.actions.register_complete_description').html_safe %></p>
  </div>
</div>