<p>
  მოგესალმებით, <%= @user.first_name %>!
</p>
<p>
  თქვენ წარმატებით გაიარეთ რეგისტრაცია სს თელასის ელექტრონული მომსახურების სისტემაში.
</p>
<p>
  ვიდრე შეძლებდეთ ჩვენი მომსახურებით სარგებლობას, საჭიროა თქვენი ელ. ფოსტის დადასტურება.
  დასადასტურებლად მიჰყევით ქვემოთმოცემულ ბმულს (ან დააკოპირეთ ის თქვენს ბრაუზერში):
</p>
<p><%= link_to @url, @url %></p>