<p>
  Здравтвуйте, <%= @user.first_name %>!
</p>
<p>
  Вы успешно зарегистрировались на сайте электорного обслуживания АО Теласи.
</p>
<p>
  Осталось только подтвердить действительносто адресса электронной почты.
  Для подтверждения просто щелкните по ссылке:
</p>
<p><%= link_to @url, @url %></p>