<p>
  მოგესალმებით, <%= @user.first_name %>!
</p>
<p>
  ამ წერილს გიგზავნით, რადგან თქვენ მოითხოვეთ პაროლის აღდგენა.
</p>
<p>
  ახალი პაროლის მისაღებად, გთხოვთ, გამოიყენოთ შემდეგი აქტივაციის ბმული:
</p>
<p><%= link_to @url, @url %></p>