<p>
  Здравствуй, <%= @user.first_name %>!
</p>
<p>
  Вы получили это письмо, в связи с вашим запросом на востановление пароля.
</p>
<p>
  Для получение нового пароля, просто щелкните по ссылке:
</p>
<p><%= link_to @url, @url %></p>