<div class="row">
  <div class="span12">
    <div class="module">
      <%= applications_list([ 'customers', 'new_customer' ]) %>
      <hr/>
      <% if current_user and current_user.network_admin? %>
        <h2>ქსელები</h2>
        <%= applications_list(['admin.network' ]) %>
        <hr/>
      <% end %>
      <% if current_user and current_user.admin? %>
        <h2>ადმინისტრირება</h2>
        <%= applications_list([ 'admin.users', 'admin.customers' ]) %>
      <% end %>
    </div>
  </div>
</div>