<%= search_form @search do |f|
  f.combo_field 'paypoint', label: 'ბანკი', collection: Billing::Paypoint.network_paypoints, empty: '-- აარჩიეთ ბანკი --'
  f.date_field 'date', label: 'თარიღი', default: Date.today
  f.combo_field 'complete', label: 'დამუშავებული?', collection: { 'კი' => 'yes', 'არა' => 'no' }, empty: '--'
end %>
<%= table_for @avisos, title: 'ავიზოები', icon: '/icons/money-coin.png', collapsible: true do |t|
  t.date_field 'avdate', label: 'თარიღი', url: ->(x) { network_aviso_url(id: x.avdetkey) }
  t.complex_field label: 'ბანკი' do |c|
    c.text_field 'paypoint'
    c.text_field 'basepointkey', class: 'muted'
  end
  t.boolean_field 'status', label: 'დმშ?', hint: 'დამუშავებულია თუ არა ეს ავიზო?'
  t.text_field 'accnumb', label: 'აბ.#', tag: 'code'
  t.text_field 'cns', label: 'CNS #'
  t.number_field 'amount', label: 'თანხა', after: 'GEL'
  # t.text_field 'note'
  t.paginate records: 'ჩანაწერი'
end %>
<div class="alert alert-error">
  <p>
    ეს ღილაკი არ იქნება მუშა სისტემაში. ტესტირების მიზნით ის დროებით დადებულია აქ.
  </p>
  <p>
    <%= link_to 'ავიზოების სინქრონიზაცია', network_sync_avisos_url, class: ['btn', 'btn-danger'], method: 'post', data: { confirm: 'დაადასტურეთ სინქრონიზაცია.' } %>
  </p>
</div>