<%= view_for @aviso, title: @title, icon: '/icons/money-coin.png', collapsible: true, selected_tab: (params[:tab] == 'related' ? 1 : 0) do |f|
  f.tab title: 'ავიზო', icon: '/icons/money-coin.png' do |f|
    f.date_field 'avdate', label: 'თარიღი', required: true
    f.complex_field label: 'ბანკი', required: true do |c|
      c.text_field 'paypoint'
      c.text_field 'basepointkey', class: 'muted', before: '&mdash;'.html_safe
    end
    f.number_field 'amount', label: 'თანხა', after: 'GEL', required: true
    f.text_field 'accnumb', label: 'აბ.#', tag: 'code' do |f|
      f.action network_add_aviso_customer_url(id: @aviso.avdetkey), label: 'აბონენტის განსაზღვრა', icon: '/icons/user--plus.png' if (not @aviso.status)
    end
    f.text_field 'invoice', label: 'ინვოისის #'
    f.text_field 'note', label: 'შენიშვნა'
    f.col2 do |f|
      f.boolean_field 'status', label: 'დამუშავებულია?', hint: 'დამუშავებულია თუ არა ეს ავიზო?', required: true
      f.boolean_field 'is_created', label: 'აბონ. შექმნილია?', hint: 'შექმნილია თუ არა ახალი აბონენტი ამ განცხადების საფუძველზე?'
      f.boolean_field 'in_item', label: 'ოპერ. ბილინგშია?', hint: 'გატარებულია თუ არა ეს ოპერაცია ბილინგში?'
    end
  end
  f.tab title: 'დაკავშირებული განცხადება', icon: '/icons/chain.png' do |f|
    f.text_field 'related_application.effective_number', label: 'ნომერი', url: ->(x) { network_new_customer_url(id: x.related_application.id) } do |f|
      f.action network_delink_aviso_url(id: @aviso.avdetkey), icon: '/icons/bin.png', label: 'კავშირის წაშლა', method: 'delete', confirm: 'ნამდვილად გინდათ კავშირის წაშლა?' if (@aviso.related_application.present? and not @aviso.in_item)
    end
    f.date_field 'related_application.send_date', label: 'თარიღი'
  end
end %>

<% if @application %>
  <div class="alert alert-block alert-success">
    <p>
      მოიძებნა განცხადება, რომელიც შესაძლოა იყოს დაკავშირებული ამ ავიზოსთან (იხ. ქვემოთ).
    </p>
    <p>
      თუ განცხადება სწორადაა ნაპოვნი, გთხოვთ დაადასტუროთ ეს მწვანე ღილაკზე დაჭერით.
    </p>
    <p style="text-align: center;">
      <%= link_to 'განცხადების დაკავშირება', network_link_aviso_url(id: @aviso.avdetkey), class: ['btn', 'btn-success'], method: 'post', data: { confirm: 'ნამდვილად გინდათ ავიზოს დაკავშირება ამ განცხადებასთან?' } %>
    </p>
  </div>
  <%= new_customer_view @application, title: 'დაკავშირებული განცხადება', without_actions: true %>
<% elsif not @aviso.status %>
  <div class="alert alert-block alert-error">
    ვერ მოიძებნა დაკავშირებული განცხადება!
  </div>
<% end %>