<div id="footer">
  <div class="row">
    <div class="span4">
      <h2>სს <span class="ident1">თელასი</span></h2>
      <address>
        საქართველო, თბილისი 0154<br>
        ვანის ქ. №3
      </address>
      <p>
        <i class="icon-phone"></i> &nbsp; ტ: +(99532) 2779812<br>
        <i class="icon-phone"></i> &nbsp; ტ: +(99532) 2274581<br>
        <i class="icon-print"></i> &nbsp; ფ: +(99532) 2779981
      </p>
    </div>
  </div>
  <div class="bottom">
    &copy; 2013 <a href="http://telasi.ge">სს თელასი</a>
  </div>
</div>