<div class="locale">
  <a href="<%= locale_url('ka') %>"><img src="/assets/ge.png" /></a>
  <a href="<%= locale_url('en') %>"><img src="/assets/us.png" /></a>
  <a href="<%= locale_url('ru') %>"><img src="/assets/ru.png" /></a>
</div>