<!-- TOP -->
<div class="top">
<div class="container">
<ul class="loginbar pull-right">
<li><%= render partial: 'layouts/site/language' %></li>
<!-- li class="devider">&nbsp;</li>
<li><a href="page_faq.html" class="login-btn">Help</a></li-->
<li class="devider">&nbsp;</li>
<li><%= render partial: 'layouts/site/auth' %></li>
</ul>
</div>
</div>