<div class="top row" style="height: 100px;">
  <div class="span8">
    <div style="margin: 16px 0; padding: 16px; border: 1px solid transparent;">
      LOGO...
    </div>
  </div>
  <div class="span4">
    <div style="margin: 16px 0; padding: 16px; border: 1px solid #2D73BA;">
      USER CONTROLS...
    </div>
  </div>
</div>
<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      <%= site_menu %>
    </ul>
  </div>
</div>