<%= render partial: 'layouts/site/language' %>
<div class="row">
  <div class="span8">
    <div style="margin: 16px 0; padding: 16px; border: 1px solid transparent;">
      LOGO...
    </div>
  </div>
  <div class="span4">
    <%= render partial: 'layouts/site/user_controlls' %>
  </div>
</div>
<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      <%= site_menu %>
    </ul>
  </div>
</div>