<% content_for :side do %>
  <div class="module">
    <div style="padding-bottom: 24px;">
      <a href="<%= new_customer_url %>">&larr; <%= t('models.network_new_customer_application.actions.show_page.all_applications') %></a>
    </div>
    <%= side_menu @nav %>
  </div>
<% end %>