<% content_for :side do %>
  <div class="module">
    <div class="toolar">
      <a href="<%= url %>">&larr; <%= t('models.network_new_customer_application.actions.back_to_application') %></a>
    </div>
  </div>
<% end %>