<%= render partial: 'new_customer/show_side' %>
<div class="module">
  <h1>#<%= @application.number %></h1>
  <hr />
  <h2><%= t('models.network_new_customer_application.actions.accounts_page.title') %></h2>
  TODO:
</div>