<div class="row">
  <div class="span3">
    <div class="module">
      <div class="toolar">
        <a href="<%= show_new_customer_url %>">&larr; <%= t('models.network_new_customer_application.actions.edit.show_action') %></a>
      </div>
    </div>
  </div>
  <div class="span9">
    <div class="module">
      <h1><%= @title %></h1>
      <%= render partial: 'new_customer/form', locals: { application: @application, submit: t('models.network_new_customer_application.actions.edit.title') } %>
    </div>
  </div>
</div>