<% content_for :side do %>
  <div class="module">
    <div class="toolar">
      <a href="<%= new_customer_accounts_url(id: @application.id) %>">&larr; <%= t('models.network_new_customer_application.actions.back_to_application') %></a>
    </div>
  </div> 
<% end %>
<div class="module">
  <h1><%= @title %></h1>
  <%= render partial: 'new_customer/account_form', locals: { account: @account } %>
</div>