<div class="row">
  <div class="span12">
    <div class="module">
      <h1><%= @title %></h1>
      <hr />
      <div style="text-align:center;">
        <a class="btn btn-success btn-large" href="<%= new_new_customer_url %>"><%= t('models.network_new_customer_application.actions.new') %> &rarr;</a>
      </div>
    </div>
  </div>
</div>