
<%= content_for :top do %>
<div class="row-fluid breadcrumbs margin-bottom-20">
  <div class="container">
    <h1>Информация об аудиторе компании</h1>
  </div>
</div>
<% end %>
<div class="well-read">
  <p>Аудитором Общества  является компания &quot;Ernst&amp;Young LLC&quot;.</p>
</div>