<%= content_for :top do %>
<div class="row-fluid breadcrumbs margin-bottom-20">
  <div class="container">
    <h1>კომპანიის აუდიტორი</h1>
  </div>
</div>
<% end %>
<div class="well-read">
  <p> საზოგადოების აუდიტორული კომპანიაა &quot;Ernst&amp;Young LLC&quot;.</p>
</div>