<%= content_for :top do %>
<div class="row-fluid breadcrumbs margin-bottom-20">
  <div class="container">
    <h1>Структура акционерного капитала</h1>
  </div>
</div>
<% end %>
<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#tables2">Таблицы</a></li>
  <li><a href="#chart2">Диаграма</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="tables2">
    <div class="headline"><h3>Общие показатели</h2></div>
    <table class="table">
      <tr>
        <td>Капитал АО &quot;Теласи&quot;</td>
        <td><code>112,429,418.00</code> лари</td>
      </tr>
      <tr>
        <td>Выпущенные обыкновенные акции</td>
        <td><code>112,429,418</code> штук</td>
      </tr>
      <tr>
        <td>Размещенные акции</td>
        <td><code>112,429,418</code> штук</td>
      </tr>
      <tr>
        <td>Номинал акции</td>
        <td><code>1.00</code> лари  </td>
      </tr>
    </table>
    <div class="headline"><h3>Владельцы Акций</h2></div>
    <p>
      Общая структура акционерного капитала на 31 декабря 2012 года выглядит следующим образом:
    </p>
    <table class="table">
      <thead>
        <tr>
          <th>ფასიანი ქაღალდი</th>
          <th>Владелец</th>
          <th>Стоимость</th>
          <th>Показатель</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Обыкновенная акция</td>
          <td>&quot;Silk Road Holdings B.V.&quot; &mdash; Нидерланды</td>
          <td>
            <code>84,443,957.00</code> лари, вид владения &mdash; акции
          </td>
          <td>
            <code>75.108</code>%
          </td>
        </tr>
        <tr>
          <td>Обыкновенная акция</td>
          <td>АО &quot;Фонд Партнерства&quot; &mdash; г.Тбилиси</td>
          <td>
            <code>27,577,837.00</code> лари, вид владения &mdash; акции
          </td>
          <td>
            <code>24.529</code>%
          </td>
        </tr>
        <tr>
          <td>Обыкновенная акция</td>
          <td>Остальные акционеры</td>
          <td>
            <code>407,624.00</code> лари, вид владения &mdash; акции
          </td>
          <td>
            <code>0.363</code>%
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="tab-pane" id="chart2">
    <div id="chart_div" style="height: 600px; width: 100%; text-align: center; line-height: 400px; margin: 0 auto;">
      <i class="icon-refresh icon-spin" style="font-size: 32px; color: green;"></i> დიაგრამა იტვირთება...
    </div>
  </div>
</div>
<script>
  $('#myTab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
    drawChart();
  });
</script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load('visualization', '1.0', {'packages':['corechart']});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Topping');
    data.addColumn('number', 'Slices');
    data.addRows([
      ['Silk Road Holdings', 84443957.00],
      ['АО "Фонд Партнерства"', 27577837.00],
      ['Остальные', 407624.0],
    ]);
    var formatter = new google.visualization.NumberFormat({ fractionDigits: 2, prefix: 'GEL' });
    formatter.format(data, 1);
    var options = { };
    try {
      var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
      chart.draw(data, options);
    } catch (exception) {}
  }
</script>