<%= content_for :top do %>
<div class="row-fluid breadcrumbs margin-bottom-20">
  <div class="container">
    <h1>არსებითი ფაქტები</h1>
  </div>
</div>
<% end %>
<%= downloads_table [
  { label: '28 მარტი 2013 წელი &mdash; სს "თელასის" აქციონერთა საერთო კრების გადაწყვეტილებები', url: '/docs/telasi/essential_fact_28032013_geo.pdf' },
  { label: '28 ივნისი 2012 წელი &mdash; სს "თელასის" აქციონერთა საერთო კრების გადაწყვეტილებები', url: '/docs/telasi/essential_fact_28062012_geo.pdf'},
  { label: '23 მარტი 2012 წელი &mdash; სს "თელასის" აქციონერთა საერთო კრების გადაწყვეტილებები', url: '/docs/telasi/essential_fact_23032012_geo.pdf'}, 
  { label: '6 დეკემბერი 2011 წელი &mdash; სს "თელასის" აქციონერთა საერთო კრების გადაწყვეტილებები', url: '/docs/telasi/essential_fact_06122011_geo.pdf'},
  #{ label: '28 ივნისი 2011 წელი &mdash; სს "თელასის" აქციონერთა საერთო კრების გადაწყვეტილებები', url: '/docs/telasi/' },
  { label: '29 ივნისი 2010 წელი &mdash; სს "თელასის" აქციონერთა საერთო კრების გადაწყვეტილებები', url: '/docs/telasi/essential_fact_29062010_geo.pdf'},
  { label: '25 მარტი 2010 წელი &mdash; სს "თელასის" აქციონერთა საერთო კრების გადაწყვეტილებები', url: '/docs/telasi/essential_fact_25032010_geo.pdf' },
  { label: '24 დეკემბერი 2009 წელი &mdash; სს "თელასის" აქციონერთა საერთო კრების გადაწყვეტილებები', url: '/docs/telasi/essential_fact_24122009_geo.pdf' },
  { label: '30 ივნისი 2009 წელი &mdash; სს "თელასის" აქციონერთა საერთო კრების გადაწყვეტილებები', url: '/docs/telasi/essential_fact_30062009_geo.pdf' },
  { label: '11 მარტი 2009 წელი &mdash; სს "თელასის" აქციონერთა საერთო კრების გადაწყვეტილებები', url: '/docs/telasi/essential_fact_11032009_geo.pdf' }
] %>