<%= content_for :top do %>
<div class="row-fluid breadcrumbs margin-bottom-20">
  <div class="container">
    <h1>Информация о существенных фактах</h1>
  </div>
</div>
<% end %>
<%= downloads_table [
  { label: '28 марта 2013 года &mdash; Решения общего собрания акционеров АО &quot;Теласи&quot;', url: '/docs/telasi/essential_fact_28032013_rus.pdf' },
  { label: '28 июня 2012 года &mdash; Решения общего собрания акционеров АО &quot;Теласи&quot;', url: '/docs/telasi/essential_fact_28062012_rus.pdf'},
  { label: '23 марта 2012 года &mdash; Решения общего собрания акционеров АО &quot;Теласи&quot;', url: '/docs/telasi/essential_fact_23032012_rus.pdf'}, 
  { label: '6 декабря 2011 года &mdash; Решения общего собрания акционеров АО &quot;Теласи&quot;', url: '/docs/telasi/essential_fact_06122011_rus.pdf'},
  #{ label: '28 июня 2011 года &mdash; Решения общего собрания акционеров АО &quot;Теласи&quot;', url: '/docs/telasi/' },
  { label: '29 июня 2010 года &mdash; Решения общего собрания акционеров АО &quot;Теласи&quot;', url: '/docs/telasi/essential_fact_29062010_rus.pdf'},
  { label: '25 марта 2010 года &mdash; Решения общего собрания акционеров АО &quot;Теласи&quot;', url: '/docs/telasi/essential_fact_25032010_rus.pdf' },
  { label: '24 декабря 2009 года &mdash; Решения общего собрания акционеров АО &quot;Теласи&quot;', url: '/docs/telasi/essential_fact_24122009_rus.pdf' },
  { label: '30 июня 2009 года &mdash; Решения общего собрания акционеров АО &quot;Теласи&quot;', url: '/docs/telasi/essential_fact_30062009_rus.pdf' },
  { label: '11 марта 2009 года &mdash; Решения общего собрания акционеров АО &quot;Теласи&quot;', url: '/docs/telasi/essential_fact_11032009_rus.pdf' }
] %>