<%= content_for :top do %>
<div class="row-fluid breadcrumbs margin-bottom-20">
  <div class="container">
    <h1>Сообщения для акционеров</h1>
  </div>
</div>
<% end %>
<%= downloads_table [
  { label: 'Окончательный проспект эмиссии', url: '/docs/telasi/final_offering_prospectus_telasi_rus.pdf'},
  { label: 'Уведомление акционеров АО &quot;Теласи&quot; о публичном предложении новоэмитированных акций компании', url: '/docs/telasi/notice_telasi_23.04.2012_rus.pdf' },
] %>