<div class="page-header">
  <h1>შეტყობინებები აქციონერთათვის</h1>
</div>
<%= downloads_table [
  { label: 'ემისიის საბოლოო პროსპექტი', url: '/docs/telasi/final_offering_prospectus_telasi_geo.pdf'},
  { label: 'შეტყობინება სს "თელასის" აქციონერებს კომპანიის ახლად ემიტირებული აქციების საჯარო შეთავაზების თაობაზე', url: '/docs/telasi/notice_telasi_20.04.2012_geo.pdf' },
] %>