<%= content_for :top do %>
<div class="row-fluid breadcrumbs margin-bottom-20">
  <div class="container">
    <h1>Информация о реестродержателе компании</h1>
  </div>
</div>
<% end %>
<div class="well-read">
  <p>
    Держателем реестра владельцев ценных бумаг общества является
    АО &quot;Объедененный Регистратор Ценных бумаг Грузии&quot;
    &mdash; независимый регистратор ценных бумаг, лицензия №<code>70-0006</code>
    выдана 26 января 2000 года Национальной комиссией ценных бумаг.
    Ведение реестра ценных бумаг осуществляется согласно договору
    №<code>ср-248</code> от 1 августа 2012 года.
  </p>
  <table class="table table-striped table-hover">
    <tr>
      <td>Адресс:</td>
      <td>Грузия, 0162, г.Тбилиси, пр.Чавчавадзе №74<sup>а</sup> (Мосашвили №11)</td>
    </tr>
    <tr>
      <td>Тел:</td>
      <td>(+99532)222-53-51, 225-15-60</td>
    </tr>
    <tr>
      <td>Факс:</td>
      <td>(+99532)225-15-60</td>
    </tr>
  </table>
</div>