<div class="page-header">
  <h1>ინფორმაცია კომპანიის რეესტრის მწარმოებლის შესახებ</h1>
</div>
<div class="well-read">
  <p>
    კომპანიის ფასიანი ქაღალდების მფლობელთა რეესტრის მწარმოებელია
    სს &quot;საქართველოს ფასიანი ქაღალდების გაერთიანებული რეგისტრატორი&quot;
    &mdash; ფასიანი ქაღალდების დამოუკიდებელი რეგისტრატორი, ლიცენზია №70-0006,
    გაცემული საქართველოს ფასიანი ქაღალდების ეროვნული კომისიის მიერ 2000 წლის 26 იანვარს.
    ფასიანი ქაღალდების წარმართვა ხორციელდება 2012 წლის 1 აგვისტოს №CP-248 ხელშეკრულების
    შესაბამისად.
  </p>
</div>