<%= content_for :top do %>
<div class="row-fluid breadcrumbs margin-bottom-20">
  <div class="container">
    <h1>რეესტრის მწარმოებელი</h1>
  </div>
</div>
<% end %>
<div class="well-read">
  <p>
    კომპანიის ფასიანი ქაღალდების მფლობელთა რეესტრის მწარმოებელია
    სს &quot;საქართველოს ფასიანი ქაღალდების გაერთიანებული რეგისტრატორი&quot;
    &mdash; ფასიანი ქაღალდების დამოუკიდებელი რეგისტრატორი, ლიცენზია №70-0006,
    გაცემული საქართველოს ფასიანი ქაღალდების ეროვნული კომისიის მიერ 2000 წლის 26 იანვარს.
    ფასიანი ქაღალდების წარმართვა ხორციელდება 2012 წლის 1 აგვისტოს №CP-248 ხელშეკრულების
    შესაბამისად.
  </p>
  <table class="table table-striped table-hover">
    <tr>
      <td>მისამართი:</td>
      <td>საქართველო, 0162, თბილისი, ჭავჭავაძის გამზ. №74<sup>ა</sup> (მოსაშვილის №11)</td>
    </tr>
    <tr>
      <td>ტელ:</td>
      <td>(+99532)222-53-51, 225-15-60</td>
    </tr>
    <tr>
      <td>ფაქსი:</td>
      <td>(+99532)225-15-60</td>
    </tr>
  </table>
</div>