<%= content_for :top do %>
<div class="row-fluid breadcrumbs margin-bottom-20">
  <div class="container">
    <h1>საანგარიშგებო ინფორმაცია</h1>
  </div>
</div>
<% end %>
<%= downloads_table [
  { label: '2011 წლის <em>წლიური ანგარიში</em>', url: '/docs/telasi/annual_report_2011_geo.pdf' },
  { label: '2010 წლის <em>წლიური ანგარიში</em>', url: '/docs/telasi/annual_report_2010_geo.pdf' },
  { label: '2010 წლის <em>წლიური ანგარიში</em>, დანართი 1', url: '/docs/telasi/annual_report_2010_1_geo.pdf' },
  { label: '2010 წლის <em>წლიური ანგარიში</em>, დანართი 2', url: '/docs/telasi/annual_report_2010_2_geo.pdf' },
  { label: '2009 წლის <em>წლიური ანგარიში</em>', url: '/docs/telasi/annual_report_2009_geo.pdf' },
] %>