<%= render partial: 'new_customer/show_side' %>
<div class="module">
  <h1>#<%= @application.number %></h1>
  <hr /> <%= render partial: 'new_customer/items' %>
  <hr /> <%= render partial: 'new_customer/calculations' %>
</div>