<%= render partial: 'new_customer/side_back', locals: { url: new_customer_accounts_url(id: @application.id) } %>
<div class="module">
  <h1><%= @title %></h1>
  <%= render partial: 'new_customer/account_form', locals: { account: @account } %>
</div>