<%= render partial: 'new_customer/side_back', locals: { url: show_new_customer_url } %>
<div class="module">
  <h1><%= @title %></h1>
  <%= render partial: 'new_customer/form', locals: { application: @application, submit: t('models.network_new_customer_application.actions.edit.title') } %>
</div>