<%= content_for :top do %>
<div class="row-fluid breadcrumbs margin-bottom-20">
  <div class="container">
    <h1><%= t('site.pages.contact.title_long') %></h1>
  </div>
</div>
<% end %>
<div class="row-fluid">
  <div class="span9">
    <%= render partial: 'site/contact/map' %>
  </div>
  <div class="span3">
    <%= render partial: 'site/contact/address' %>
  </div>
</div>
<div class="row-fluid">
  <div class="span4">
    HOT LINE
  </div>
  <div class="span4">
    BUSINESS CENTER BY ACCNUMB
  </div>
</div>