<%= content_for :top do %>
<div class="row-fluid breadcrumbs margin-bottom-20">
  <div class="container">
    <h1><%= t('site.pages.contact.title_long') %></h1>
  </div>
</div>
<% end %>
<div class="row-fluid">
  <div class="span9">
    <div id="map" class="map map-box map-box-space margin-bottom-40"></div>
  </div>
  <div class="span3">
    ---
  </div>
</div>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript">
  var region_data = [
    { name: 'თელასის ცენტრალური ოფისი', address: 'ვანის ქ. №3', latitude: 41.7340971297209, longitude: 44.78476881980896, phone: '225-52-(11), 277-99-77' },
  ];
  var marker = null;
  var map = null;
  // var infowindow = new google.maps.InfoWindow({ content: '(no-info)' });
  var default_position = new google.maps.LatLng(41.7341651833187, 44.78496193885803);
  var default_zoom = 13;
  // var large_view = 16;
  var initializeMap = function() {
    var myOptions = { center: default_position, zoom: default_zoom, mapTypeId: google.maps.MapTypeId.ROADMAP };
    map = new google.maps.Map(document.getElementById("map"), myOptions);
    marker = new google.maps.Marker({ position: default_position, map: map, animation: google.maps.Animation.DROP });
  }
  $(function() {
    initializeMap();
    // $('.region-link').click(function(evnt) {
    //   var marker = markers[$(evnt.target).attr('data-index')];
    //   infowindow.setContent(marker.info_html);
    //   infowindow.open(map, marker);
    //   map.setCenter(marker.getPosition());
    //   map.setZoom(large_view);
    //   return false;
    // });
    // $('.all-regions-link').click(function() {
    //   infowindow.close();
    //   map.setCenter(default_position);
    //   map.setZoom(default_zoom);
    //   return false;
    // });
  });
</script>