<div>
<p>
  თქვენ შეგიძლიათ ამ აბონენტის დამახსოვრება.
</p>
<p class="alert alert-info">
  იდენტიფიკაციის შემდეგ, დამახსოვრებულ აბონენტზე შეგეძლებათ დეტალური ინფორმაციის ნახვა და
  მოსალოდნელი ჩაჭრის შესახებ ინფორმაციის SMS შეტყობინების სახით მიღება.
</p>
<p>
  იდენტიფიკაციის მიზნით, ჩვენ დაგვჭირდება თქვენი პირადი ნომერი და პასპორტის სერია და ნომერი.
</p>
<div class="alert alert-info">
  ID-ბარათის შემთხვევაში საჭიროა მხოლოდ პირადი ნომრის და პასპორტის ნომრის მითითება.
</div>
</div>