<div class="panel panel-default">
  <div class="panel-heading">
    Запомнить Абонента
  </div>
  <div class="panel-body">
    <p class="text-muted">Для сохранения, пожалуйста, введите ваши личные данные:</p>
    <%= render partial: '/customers/save_customer_form' %>
  </div>
</div>
<div class="alert alert-info">
  <p style="padding: 0 0 8px 0;">
    <i class="fa fa-question-circle"></i>
    <strong>А зачем сохранять?</strong>
  </p>
  <ul>
    <li>Вам не придется заного набирать номер;</li>
    <li>Сможете ознакомиться с историей начисления;</li>
    <li>Получите SMS предупреждения о просроченных платежах.</li>
  </ul>
</div>
<p class="text-muted" style="font-size: smaller;">
  <i class="fa fa-info-circle"></i>
  Ваши личные данные нужны нам для сверки информации
  и решения насколько вы соответствуете лицу,
  доступ к информации которого вы требуете.
  Мы <strong>не будем употреблять</strong> ваши данне
  на какие-либо инные цели.
</p>