<div style="padding-bottom: 32px;">
<div class="alert">
  Вы можете <strong>сохранить</strong> этого абонента.
</div>
<div class="alert alert-info">
  <p><strong>А зачем его сохранять?</strong></p>
  <ul>
  	<li>Вам не придется заного набирать номер;</li>
  	<li>Сможете ознакомиться с историей начисления;</li>
  	<li>Получите SMS предупреждения о просроченных платежах.</li>
  </ul>
</div>
<p>
  Для сохранения, пожалуйста, введите ваши личные данные:
</p>
<p class="muted" style="font-size: 12px;">
  Ваши личные данные нужны нам для сверки информации
  и решения насколько вы соответствуете лицу,
  доступ к информации которого вы требуете.
  Мы <strong>не будем употреблять</strong> ваши данне
  на какие-либо инные цели.
</p>
</div>