<div>
<p>
  თქვენ შეგიძლიათ ამ აბონენტის დამახსოვრება.
</p>
<p class="alert alert-info">
  <strong>რა საჭიროა აბონენტის დამახსოვრება?</strong> &mdash;
  იდენტიფიკაციის შემდეგ, დამახსოვრებულ აბონენტზე შეგეძლებათ დეტალური ინფორმაციის მიღება და
  მოსალოდნელი ჩაჭრის შესახებ SMS-შეტყობინების მობილურზე მიღება.
</p>
<p>
  აბონენტის დასამახსოვრებლად აუცილებელია თქვენი პირადი მონაცემების მითითება:
</p>
</div>