<div class="panel panel-default">
  <div class="panel-heading">
    აბონენტის დამახსოვრება
  </div>
  <div class="panel-body">
    <p class="text-muted">აბონენტის დასამახსოვრებლად აუცილებელია თქვენი პირადი მონაცემების მითითება:</p>
    <%= render partial: '/customers/save_customer_form' %>
  </div>
</div>
<div class="alert alert-info">
  <p style="padding: 0 0 8px 0;">
    <i class="fa fa-question-circle"></i>
    <strong>რა საჭიროა აბონენტის დამახსოვრება?</strong>
  </p>
  <ul>
  	<li>არ მოგიწევთ აბონენტის ნომრის ხელახლა აკრეფვა;</li>
  	<li>შეგეძლებათ დარიცხვის ისტორიის ნახვა;</li>
  	<li>მიიღებთ SMS შეხსენებას გადაუხდელი ვალის შესახებ.</li>
  </ul>
</div>
<p class="text-muted" style="font-size: smaller;">
  <i class="fa fa-info-circle"></i>
  თქვენი პირადი მონაცემები გვჭირდება შესამოწმებლად
  თუ რამდენად შეესაბამებით იმ პირს, რომლის ინფორმაციის მიღებასაც ითხოვთ.
  ჩვენ <strong>არ გამოვიყენეთ</strong> თქვენს პირად მონაცემებს
  რაიმე სხვა მიზნებისთვის.
</p>