<div style="padding-bottom: 32px;">
<div class="alert">
  თქვენ შეგიძლიათ ამ აბონენტის <strong>დამახსოვრება</strong>.
</div>
<div class="alert alert-info">
  <p><strong>რა საჭიროა აბონენტის დამახსოვრება?</strong></p>
  <ul>
  	<li>არ მოგიწევთ აბონენტის ნომრის ხელახლა აკრეფვა;</li>
  	<li>შეგეძლებათ დარიცხვის ისტორიის ნახვა;</li>
  	<li>მიიღებთ SMS შეხსენებას გადაუხდელი ვალის შესახებ.</li>
  </ul>
</div>
<p>
  აბონენტის დასამახსოვრებლად აუცილებელია თქვენი პირადი მონაცემების მითითება:
</p>
<p class="muted" style="font-size: 12px;">
  თქვენი პირადი მონაცემები გვჭირდება შესამოწმებლად
  თუ რამდენად შეესაბამებით იმ პირს, რომლის ინფორმაციის მიღებასაც ითხოვთ.
  ჩვენ <strong>არ გამოვიყენეთ</strong> თქვენს პირად მონაცემებს
  რაიმე სხვა მიზნებისთვის.
</p>
</div>