<div class="row">
  <div class="pull-left" style="padding-right: 20px;"><img src="/images/customers.png" /></div>
  <p><%= t('models.billing_customer.actions.empty_customer_list').html_safe %></p>
  <p><%= t('models.billing_customer.actions.resolve_empty_customer_list').html_safe %></p>
</div>