<div class="row">
  <div class="pull-left" style="padding-right: 20px;"><img src="/images/customers.png" /></div>
  <p>თქვენ არ გაქვთ რეგისტრირებული არც ერთი აბონენტი.</p>
  <p>აბონენტის რეგისტრაციისთვის დააჭირეთ ღილაკს წარწერით <strong><%= t('models.billing_customer.actions.add') %></strong>.</p>
</div>