<div class="block block-success" style="padding: 32px;">
  <p style="padding-bottom: 12px;"><strong><%= @title %></strong>!</p>
  <p>
    При правильном указании всех обязательных полей, вы получите подтвеждение не позже <strong><u>2 рабочих дней</u></strong>.
    В случае подтверждения вы сможете пользоваться всеми предоставленными услугами.
  </p>
</div>
<div>
  <%= link_to '&larr; Возвращение на страницу задолженности'.html_safe, customers_url %>
</div>