<div class="panel panel-success">
  <div class="panel-heading"><strong><%= @title %></strong>!</div>
  <div class="panel-body">
    ყველა აუცილებელი ველის კორექტულად შევსების შემთხვევაში თქვენ მიიღებთ
    დადასტურებას <strong><u>2 სამუშაო დღის</u></strong> განმავლობაში.
    დადასტურების შემთხვევაში თქვენ შეგეძლებათ სრულად ისარგებლოთ აბონენტზე
    გათვალისწინებული ყველა მომსახურეობით. 
  </div>
</div>