<div class="block block-success" style="padding: 32px;">
  <p style="padding-bottom: 12px;"><strong><%= @title %></strong>!</p>
  <p>
    <strong><u>5 სამუშაო დღის</u></strong> მანძილზე ჩვენ მივიღებთ გადაწყვეტილებას დაგიდასტუროთ თუ არა ეს აბონენტი.
    დადასტურების შემთხვევაში თქვენ შეგეძლებათ სრულად ისარგებლოთ აბონენტზე გათვალისწინებული ყველა მომსახურეობით. 
  </p>
</div>
<div>
  <%= link_to '&larr; დავალიანების გვერდზე დაბრუნება'.html_safe, customers_url %>
</div>