<div class="block-success">
  <p><strong><%= @title %></strong> &mdash; თქვენი განცხადება განიხილება 5 სამუშაო დღის მანძილზე.
  ინფორმაცია აბონენტის დადასტურების (ან უარყოფის) შესახებ მოგივათ SMS შეტყობინებით თქვენს მობილურ ნომერზე.</p>
</div>