<div class="panel panel-success">
  <div class="panel-heading"><strong><%= @title %></strong>!</div>
  <div class="panel-body">
    При правильном указании всех обязательных полей, вы получите подтвеждение не позже
    <strong><u>2 рабочих дней</u></strong>.
    В случае подтверждения вы сможете пользоваться всеми предоставленными услугами.
  </div>
</div>