<div class="block block-success" style="padding: 32px;">
  <p style="padding-bottom: 12px;"><strong><%= @title %></strong>!</p>
  <p>
    В течении <strong><u>5 рабочих дней</u></strong> мы примем решение подтвердить ли вам доступ к информации этого абонента.
    В случае подтверждения вы сможете пользоваться всеми услугами для этого абонента.
  </p>
</div>
<div>
  <%= link_to '&larr; Возвращение на страницу задолженности'.html_safe, customers_url %>
</div>