<div class="row">
  <div class="span12">
    <div class="module">
      <% if @registrations.empty? %><%= render partial: 'customers/empty' %><% end %>
      <hr />
      <div style="text-align: center;">
        <div class="btn-toolbar">
         <%= link_to "#{t('models.billing_customer.actions.add')} &rarr;".html_safe, nil, class: ['btn', 'btn-success', 'btn-large'] %>
       </div>
       <p class="muted"><%= t('models.billing_customer.actions.add_description') %></p>
      </div>
    </div>
  </div>
</div>