<div class="page-header">
  <h1><%= @title %></h1>
</div>
<% if @registrations.empty? %>
  <%= render partial: 'customers/empty' %>
<% else %>
  <% @registrations.each do |reg| %>
    <%= render partial: 'customers/registration_info', locals: { registration: reg } %>
  <% end %>
<% end %>
<div class="btn-toolbar" style="text-align: center;">
   <%= link_to "#{t('models.billing_customer.actions.add')} &rarr;".html_safe,
    search_customer_url, class: ['btn', 'btn-success', 'btn-large'] %>
</div>