<div class="alert alert-block alert-info">
<p>თქვენ არ გაქვთ რეგისტრირებული არც ერთი აბონენტი.</p>
<p>აბონენტის რეგისტრაციისთვის, გთხოვთ აარჩიოთ ბმული <%= link_to t('models.billing_customer.actions.add_customer'), user_add_customer_url %>.</p>
</div>
<div class="btn-toolbar">
  <a href="<%= user_add_customer_url %>" class="btn">
    <img src="/icons/fugue/light-bulb--plus.png"> <%= t('models.billing_customer.actions.add_customer') %>
  </a>
</div>