<div class="panel panel-success">
  <div class="panel-heading">
    <%= @title %>
  </div>
  <div class="panel-body">
    <%= t('models.sys_subscription.actions.subscribe_complete_full') %>
  </div>
</div>