<div class="row">
  <div class="span8">
    <div class="page-header">
      <h1><%= @title %></h1>
    </div>
  </div>
  <div class="span4">
    <%= render partial: 'layouts/application/user_controlls' %>
  </div>
</div>
</div>