<%= render partial: 'layouts/site/language' %>
<div class="row top">
  <div class="span8">
    <div class="title">
      <i class="icon-cog"></i> <%= t('models.general.actions.dashboard') %>
    </div>
  </div>
  <div class="span4">
    <%= render partial: 'layouts/application/user_controlls' %>
  </div>
</div>