<h2 class="app-group"><%= @title %></h2>
<div class="applications">
<%[
  { label: 'models.sys_user.users', url: admin_users_url, icon: '/icons/fugue/users.png' },
  { label: 'models.billing_region_config.regions', url: admin_regions_url, icon: '/icons/fugue/building.png' },
  { label: 'models.billing_customer_registration.admin', url: admin_customer_registrations_url, icon: '/icons/fugue/light-bulb--pencil.png' }
].each do |app| %>
  <div class="application">
    <div class="title">
      <img src="<%= app[:icon] %>" />
      <%= link_to t(app[:label]), app[:url] %>
    </div>
    <div class="description muted">
      <%= t("#{app[:label]}_description") %>
    </div>
  </div>
<% end %>
</div>