@import "app/assets/stylesheets/elements.less";
@import "app/assets/stylesheets/variables.less";

body.dashboard {
  background: white;
  #dashboard-main {
    border-top: 12px solid @blue;
    .locale { padding: 4px 0; text-align: right; }
    .title {
      font-size: 1.8em; padding: 16px 0; color: @orange; font-weight: bold;
      i { color: @blue; }
    }
  }
}