@background: rgb(178, 223, 245);
@border: #8bb8d2;
@logo: #1a99a9;

* { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; }
body { background: @background; }
.container { width: 986px; margin: 0 auto; position: relative; }
#header {
	background: white; border-bottom: 1px solid @border; padding: 24px 0; margin-bottom: 24px;
	#logo a { color: @logo; font-weight: bold; text-decoration: none; font-size: 1.5em; }
}