<div style="padding-bottom: 16px;">
  ახალი სტატუსი &mdash;
  <strong>
    <img src="<%= Network::NewCustomerApplication.status_icon params[:status].to_i %>"></img>
    <%= Network::NewCustomerApplication.status_name params[:status].to_i %>
  </strong>
</div>
<%= sms_message_form @message, title: 'SMS შეტყობინება', icon: '/icons/mail.png', submit: 'სტატუსის შეცვლა', cancel_url: admin_new_customer_url(id: @application.id) %>