<div class="row">
  <div class="span12">
    <div class="module">
      <%= table_for @tariffs, title: 'ტარიფები', icon: '/icons/network.png', collapsible: true do 
      end %>
    </div>
  </div>
</div>