<div class='container'>
    <div class="page-header">
	  <h2><%= t('form_titles.cancel_form') %></h2>
	</div>
   <div>
     <%= link_to t('buttons.back'), pay_services_url, :class => 'btn' %>
   </div>
</div>