<div class='container'>
    <div class="page-header">
	  <h2><%= t('form_titles.error_form') %></h2>
	</div>
   <div>
     <%= link_to t('buttons.back'), "my.telasi.ge", :class => 'btn' %>
   </div>
</div>