<div class="row">
  <div class="span3">
    <div class="module"><%= side_menu(@nav) %></div>
  </div>
  <div class="span9">
    <div class="module">
      <h1><%= @title %></h1>
      <%= rich_form @user do |f|
        f.text_field :first_name, autofocus: true
        f.text_field :last_name
        f.text_field :mobile
        f.submit t('models.general.actions.save')
        f.cancel_url profile_url
      end %>
    </div>
  </div>
</div>