<%= content_for :top do %>
<div class="row-fluid breadcrumbs margin-bottom-20">
  <div class="container">
    <h1>Company History</h1>
  </div>
</div>
<% end %>
<div class="well-read">
  <p>
    Joint Stock Company &quot;Telasi&quot; was founded in accordance with the Law on Entrepreneurs of Georgia,
    Resolution of the Cabinet of Ministers, Republic of Georgia, #228 of April 14, 1993
    &quot;On Arrangements of Transformation of State Enterprises and State Enterprises Associations into
    Joint Stock Companies&quot;, and Decree of the Department of State Property Management,
    City of Tbilisi, #1-3/188 of May 6, 1998.
  </p>
  <p>
    Joint Stock Company &quot;Telasi&quot; was registered on May 14, 1995 by the ruling of Didube district
    court of Tbilisi, Georgia.
  </p>
  <p>
    On December 21, 1998 AES Silk Road Holdings B.V., AES corporation purchased <code>75</code>% of the
    shares of Joint Stock Company &quot;Telasi&quot;.
  </p>
  <p>
    In August 2003, AES Corporation, the ultimate owner, sold its <code>100</code>% shareholding in
    Silk Road Holdings B.V to a Finnish company &mdash; JSC RAO Nordic OY (INTER RAO Holdings B.V.)
    ultimately owned by CJSC INTER RAO UES (OJSC INTER RAO UES).
  </p>
  <p>
    Main types of business activities of the Company are as follows: purchase and sale of electric power;
    maintenance and operation of electric grids; power transit services; technical service of customers;
    administration of unified system of power and water supply, as well as refuse collection in the
    City of Tbilisi.
  </p>
  <p>
    Services provided for customers and operation of electric grids are performed through 15 customer
    service centres, 2 operating sections and 10 operational districts located in all the
    administrative districts of the city.
  </p>
</div>