<%= content_for :top do %>
<div class="row-fluid breadcrumbs margin-bottom-20">
  <div class="container">
    <h1>История Компании</h1>
  </div>
</div>
<% end %>
<div class="well-read">
  <p>
    Акционерное Общество "Теласи" учреждено в соответствии с законом Грузии "О предпринимателях",
    постановлением кабинета министров Республики Грузия №228 от 14-го апреля 1993 года
    "Об организационных мероприятиях по преобразованию государственных предприятий и объединений
    государственных предприятий в акционерные общества" и указом Департамента управления госимуществом
    г. Тбилиси №1-3/188 от 6-го мая 1998 года.
  </p>
  <p>
    Акционерное Общество "Теласи" зарегистрировано 14 мая 1995 года судом Дидубийского района
    г.Тбилиси, Грузия.
  </p>
  <p>
    21 декабря 1998 года AES Silk Road Holdings B.V., Корпорация AES приобрела <code>75</code>% акций
    Акционерного Общества "Теласи".
  </p>
  <p>
    В августе 2003 года Корпорация AES, конечный владелец, продала <code>100</code>%-ов пакета акций
    "Silk Road Holdings B.V."" финской компании &mdash; акционерному обществу RAO Nordic Oy (INTER RAO Holdings B.V.),
    единственным акционером которой является ЗАО "ИНТЕР РАО ЕЭС" (ОАО "ИНТЕР РАО ЕЭС").
  </p>
  <p>
    Основные виды деятельности: закупка и продажа электроэнергии; обслуживание и эксплуатация электрических сетей;
    услуги по транзиту электроэнергии; услуги по техническому обслуживанию абонентов; администрирование единой
    интегрированной и координированной системы электроснабжения, водоснабжения и очистки в г. Тбилиси.
  </p>
  <p>
    Обслуживание потребителей и эксплуатация электрических сетей осуществляется в 15–ти центрах обслуживания
    абонентов, в 2-х эксплуатационных участках и в 10-ти эксплуатационных районах, расположенных во всех
    административных районах города.
  </p>
</div>