<%= content_for :top do %>
<div class="row-fluid breadcrumbs margin-bottom-20">
  <div class="container">
    <h1>კომპანიის ისტორია</h1>
  </div>
</div>
<% end %>
<div class="well-read">
  <p>
    სააქციო საზოგადოება &quot;თელასი&quot; დაფუძნებულია &quot;მეწარმეთა შესახებ&quot; საქართველოს კანონის,
    &quot;სახელმწიფო საწარმოთა და სახელმწიფოთა საწარმოთა გაერთიანებების სააქციო საზოგადოებებად გარდაქმნის
    საორგანიზაციო ღონისძიებების შესახებ&quot; საქართველოს რესპუბლიკის მინისტრთა კაბინეტის 1993 წლის 14 აპრილის
    №228 დადგენილების და ქალაქ თბილისის სახელმწიფო ქონების მართვის დეპარტამენტის 1998 წლის 6 მაისის №1-3/188
    ბრძანების შესაბამისად.
  </p>
  <p>
    სააქციო საზოგადოება &quot;თელასი&quot; რეგისტრირებულია ქალაქ თბილისის დიდუბის რაიონის სასამართლოს
    მიერ 1995 წლის 14 მაისს.
  </p>
  <p>
    1998 წლის 21 დეკემბერს AES Silk Road Holdings B.V., AES კორპორაციამ შეისყიდა სააქციო საზოგადოება
    &quot;თელასის&quot; აქციათა <code>75</code> პროცენტი.
  </p>
  <p>
    2003 წლის აგვისტოში AES კორპორაციამ, ბოლო მფლობელმა, მიყიდა &quot;Silk Road Holdings B.V.&quot;-ს
    აქციათა პაკეტის <code>100</code> პროცენტრი ფინურ კომპანიას &mdash; სააქციო საზოგადოება
    RAO Nordic Oy (INTER RAO Holdings B.V.), რომლის ერთადერთი მფლობელია დსს
    &quot;ინტერ რაო ეეს&quot;-ი (ამჟამად, ღსს &quot;ინტერ რაო ეეს&quot;-ი).
  </p>
  <p>
    საქმიანობის ძირითადი სახეობებია: ელექტროენერგიის შესყიდვა და გაყიდვა;
    ელექტრული ქსელების მომსახურება და ექსპლუატაცია; ელექტროენერგიის სატრანზიტო მომსახურება;
    აბონენტთა ტექნიკური მომსახურება; ქალაქ თბილისის ელექტრომომარაგების, წყალმომარაგებისა და
    დასუფთავების ერთიანი ინტეგრირებული და კოორდინირებული ერთიანი სისტემის ადმინისტრირება.
  </p>
  <p>
    მომხმარებელთა მომსახურება და ელექტრული ქსელების ექსპლუატაცია ხორციელდება აბონენტთა მომსახურების 15 ცენტრში,
    2 საექსპლუატაციო უბანში და 10 საექსპლუატაციო რაიონში, ქალაქის ყველა ადმინისტრაციულ რაიონში.
  </p>
</div>