<%= content_for :top do %>
<div class="row-fluid breadcrumbs margin-bottom-20">
  <div class="container">
    <h1>Учредительные и другие внутренние документы</h1>
  </div>
</div>
<% end %>
<div class="well-read">
  <%= downloads_table [
    { label: '<em>Устав</em> Акционерного общества &quot;Теласи&quot;',
      url: '/docs/telasi/articles_of_association_20.03.2013_rus.pdf'} ,
    { label: 'Положение о <em>порядке подготовки и проведения Общего собрания акционеров АО &quot;Теласи&quot;</em>',
      url: '/docs/telasi/regulations_shareholders_meeting_rus.pdf' },
    { label: 'Положение о <em>порядке созыва и проведения заседаний Наблюдательного совета АО &quot;Теласи&quot;</em>',
      url: '/docs/telasi/regulations_supervisory_board_rus.pdf' },
    { label: 'Положение <em>о Секретаре Наблюдательного совета АО &quot;Теласи&quot;</em>',
      url: '/docs/telasi/secretary_of-supervisory_board_rus.pdf' },
    { label: 'Положение <em>о комитете по аудиту Наблюдательного Совета Акционерного общества &quot;Теласи&quot;</em>',
      url: '/docs/telasi/regulations_on_the_audit_committee_rus.pdf' },
    { label: 'Положение <em>о комитете по аудиту Наблюдательного Совета Акционерного общества &quot;Теласи&quot;</em> (новая редакция)',
      url: '/docs/telasi/regulations_2_rus.pdf' },
    { label: 'Положение <em>о выплате Секретарю Наблюдательного совета АО &quot;Теласи&quot; вознаграждений и компенсаций</em>',
      url: '/docs/telasi/regulations_on_payments_to_the_secretary_rus.pdf' },
  ] %>
</div>