<%= content_for :top do %>
<div class="row-fluid breadcrumbs margin-bottom-20">
  <div class="container">
    <h1>Корпоративное Управление</h1>
  </div>
</div>
<% end %>
<div class="row-fluid">
  <div class="headline">
    <h3>Принципы корпоративного управления</h3>
  </div>
  <p>
    Корпоративная политика АО &quot;Теласи&quot; осуществляется в соответствии с Уставом Общества,
    внутренними документами Общества, а также основополагающими нормативно-правовыми актами Грузии
    в области регулирования корпоративных правоотношений: законами &quot;О Предпринимателях&quot;,
    &quot;О рынке ценных бумаг&quot; и иными нормативно-правовыми актами Грузии.
  </p>
  <div class="headline">
    <h3>Обеспечение прав акционеров общества и инвесторов</h3>
  </div>
  <p>
    Наблюдательный совет Общества, Генеральный директор Общества обеспечивают соблюдение прав и законных интересов акционеров
    и инвесторов Общества.
  </p>
  <p>
    Основные права акционера &mdash; право на получение дивидендов и право на участие в  управлении Обществом &mdash;
    закреплены в законе Грузии &quot;О предпринимателях&quot; и Уставе Общества.
  </p>
  <p>
    Акционеры Общества имеют право участвовать  в управлении Обществом, в первую очередь путем принятия
    решений по вопросам, входящим в их компетенцию, на общем собрании акционеров.
  </p>
  <p>
    Акционеры вправе свободно распоряжаться своими акциями в соответствии с положениями действующего законодательства.
    Система  учёта  обеспечивает  надёжность  учета прав  собственности на акции, а также  возможность свободного и
    быстрого отчуждения акций, принадлежащих акционерам. Защита прав собственности акционера на акции Общества от
    любых нарушений обеспечивается ведением и хранением независимым регистратором реестра акционеров.
  </p>
  <p>
    На общем собрании Общество может объявить о выплате акционерам дивидендов с учетом их прав и привилегий в
    подлежащей распределению прибыли. Общество не вправе принимать решения о выплате дивидендов при отсутствии
    прибыли, недопустима также выдача дивидендов в количестве, превышающем рекомендации Наблюдательного совета.
  </p>
  <div class="headline">
    <h3>Прозрачность и информационная открытость</h3>
  </div>
  <p>
    Акционеры Общества имеют беспрепятственный доступ к получению информации о деятельности Общества в соответствии
    с действующим законодательством. Информационная политика в отношении акционеров осуществляется с учетом полноты,
    оперативности, объективности и достоверности предоставляемой информации. Общество обеспечивает акционерам доступ
    к документам, предусмотренным  подпунктом <code>4</code> пункта <code>6.3</code> Устава.
    По требованию акционера Общество обязано предоставить ему копии  документов, предусмотренных пунктом
    <code>20.4</code> Устава.
  </p>
  <div class="headline">
    <h3>Контроль и оценка качества управления бизнесом</h3>
  </div>
  <p>
    Контроль над финансово-хозяйственной деятельностью Общества осуществляют Наблюдательный совет Общества,
    Комитет по Аудиту Наблюдательного совета Общества, независимый аудитор Общества, Ревизионная комиссия (Ревизор)
    и Отдел внутреннего аудита Общества.
  </p>
  <div class="headline">
    <h3>Обеспечения прав акционеров</h3>
  </div>
  <p>
    С целью обеспечения прав акционеров в АО &quot;Теласи&quot; приняты следующие внутренние документы,
    регулирующие деятельность органов Общества:
  </p>
  <div class="headline">
    <h4>Устав</h4>
  </div>
  <p>
    Устав является учредительным документом Общества. Он включает в себя информацию о правовом положении Общества,
    целях и видах деятельности, уставном капитале, правах акционеров, содержит описание органов Общества,
    их компетенцию и порядок деятельности. Действующая редакция Устава утверждена 28.06.2012 внеочередным общим
    собранием акционеров АО &quot;Теласи&quot; (протокол от 28.06.2012).
  </p>
  <div class="headline">
    <h4>Положение о порядке подготовки и проведения общего собрания акционеров</h4>
  </div>
  <p>
    Положение о порядке подготовки и проведения общего собрания акционеров утверждено 13.12.2006
    решением годового Общего собрания акционеров АО &quot;Теласи&quot; (протокол от 13.12.2006 № 2).
    Положение определяет порядок подготовки и проведения Общего собрания акционеров, формы проведения
    собрания, конкретизирует функции рабочих органов Общего собрания.
  </p>
  <div class="headline">
    <h4>Положение о порядке созыва и проведения заседаний Наблюдательного совета</h4>
  </div>
  <p>
    Положение о порядке созыва и проведения заседаний Наблюдательного совета утверждено 13.12.2006 решением годового
    Общего собрания акционеров АО &quot;Теласи&quot; (протокол от 13.12.2006 № 2). Положение определяет
    порядок подготовки и проведения заседаний Наблюдательного совета, конкретизирует функции Председателя
    Наблюдательного совета, права и обязанности членов Наблюдательного совета.
  </p>
  <div class="headline">
    <h4>Положение о выплате членам Наблюдательного совета  вознаграждений и компенсаций</h4>
  </div>
  <p>
    Положение о выплате членам Наблюдательного совета АО &quot;Теласи&quot; вознаграждений и компенсаций утверждено
    решением внеочередного общего собрания акционеров АО «Теласи»  (протокол от 11.03.2009 № 13). Положение определяет
    порядок и размер вознаграждений и компенсаций, выплачиваемых членам Наблюдательного совета. В соответствии с
    Положением вознаграждения и компенсации Председателю и членам Наблюдательного совета выплачивается за участие в
    заседании Наблюдательного совета Общества, независимо от формы его проведения. Члену Наблюдательного совета
    компенсируются расходы, связанные с участием в заседаниях Наблюдательного совета, по действующим на момент
    проведения заседания нормам возмещения командировочных расходов, установленным в Обществе.
  </p>
  <div class="headline">
    <h4>Положение о  Ревизионной комиссии (Ревизоре)</h4>
  </div>
  <p>
    Положение о Ревизионной комиссии (Ревизоре) АО &quot;Теласи&quot; утверждено решением внеочередного общего
    собрания акционеров АО &quot;Теласи&quot; (протокол от 24.12.2009 №3).
    Положение определяет задачи, стоящие перед Ревизионной комиссией, права и обязанности, устанавливает
    порядок проведения ревизионных проверок.
  </p>
  <div class="headline">
    <h4>Положение о выплате Ревизионной комиссии (Ревизору) общества вознаграждений и компенсаций</h4>
  </div>
  <p>
    Положение о выплате  Ревизионной комиссии (Ревизору) общества вознаграждений  и  компенсаций утверждено
    решением внеочередного общего собрания акционеров АО &quot;Теласи&quot;  (протокол от 11.03.2009 №13).
    Положение устанавливает размер, форму и сроки выплаты вознаграждений и компенсаций членам Ревизионной комиссии,
    а также привлеченным Ревизионной комиссией специалистам  (экспертам).
  </p>
  <p>
    В соответствии с Положением вознаграждения и компенсации за участие в проверке (ревизии) финансово-хозяйственной
    деятельности Общества члену Ревизионной комиссии (Ревизору) выплачивается единовременное вознаграждение.
    Члену Ревизионной комиссии (Ревизору) компенсируются расходы, связанные с участием в заседании Ревизионной комиссии
    и проведении проверки, по действующим на момент проведения заседания или проверки нормам возмещения командировочных
    расходов, установленных в Обществе.
  </p>
  <div class="headline">
    <h4>Положение о Комитете по аудиту Наблюдательного совета</h4>
  </div>
  <p>
    Положение о Комитете по аудиту Наблюдательного совета Акционерного общества &quot;Теласи&quot; утверждено
    Наблюдательным советом АО &quot;Теласи&quot; 21 мая 2010 года, протокол №23.
    Положение определяет статус и компетенцию Комитета, права и обязанности, состав, порядок формирования,
    работы и взаимодействия с органами управления Общества.
  </p>
  <div class="headline">
    <h4>Положение о системе взаимодействия с акционерами общества</h4>
  </div>
  <p>
    Положение о системе взаимодействия с акционерами
    общества утверждено Генеральным директором 08 октября 2010 года, Приказ №178. Положение определяет цели,
    задачи функционирования, методологические подходы и регламенты, используемые в рамках Системы при ее
    планировании, реализации и контроле.
  </p>
  <div class="headline">
    <h4>Методика работы с заявлениями и требованиями акционеров общества</h4>
  </div>
  <p>
    Методика работы с заявлениями и требованиями акционеров общества утверждена Генеральным директором
    22 ноября 2010 года, Приказ № 212. Методика регламентирует работу Общества с заявлениями акционеров.
  </p>
  <div class="headline">
    <h3>Структура органов управления и контроля Общества</h3>
  </div>
  <p>
    В соответствии с Уставом АО &quot;Теласи&quot; органами управления и контроля Общества являются:
  </p>
  <ul>
    <li>Общее собрание акционеров
    <li>Наблюдательный совет
    <li>Генеральный директор
    <li>Ревизионная комиссия (Ревизор)
    <li>Комитет по аудиту Наблюдательного совета
  </ul>
  <div class="headline">
    <h4>Общее собрание акционеров</h4>
  </div>
  <p>
    Общее собрание акционеров общества является высшим органом управления.
    Общее собрание акционеров представляет акционерам возможность реализовать право на участие в
    управлении Обществом путем принятия решений по наиболее важным вопросам деятельности Общества
    в соответствии с компетенцией Общего собрания акционеров. Наблюдательный совет,
    исполнительные органы, Ревизионная комиссия подотчетны Общему собранию акционеров.
    Компетенция Общего собрания акционеров, сроки, порядок подготовки и проведения,
    формы проведения определены в законе Грузии «О Предпринимателях», в Уставе и Положении
    о порядке подготовки и проведения Общего собрания акционеров.
  </p>
  <div class="headline">
    <h4>Наблюдательный совет Общества</h4>
  </div>
  <p>
    Общее руководство деятельностью Общества осуществляет Наблюдательный совет,
    который принимает решения по существенным вопросам деятельности Общества в соответствии с компетенцией,
    определенной в Уставе. Порядок деятельности Наблюдательного совета Общества регулируется Уставом и
    Положением о порядке созыва и проведения заседаний Наблюдательного совета. Наблюдательный совет
    является коллегиальным органом, состоящим из 6 членов. Члены Наблюдательного совета Общества избираются
    на Общем собрании акционеров Общества. Все члены Наблюдательного совета избираются сроком на четыре года,
    по истечении этого срока их полномочия продолжаются до созыва очередного Общего собрания акционеров.
    По решению Общего собрания акционеров полномочия всех членов Наблюдательного совета могут быть прекращены
    досрочно. Лица, избранные в состав Наблюдательного совета, могут переизбираться неограниченное число раз.
    По решению Общего собрания акционеров Общества возможно досрочное переизбрание члена Наблюдательного совета.
  </p>
  <div class="headline">
    <h4>Генеральный директор</h4>
  </div>
  <p>
    Генеральный директор осуществляет руководство текущей деятельностью Общества.
    Он является единоличным исполнительным органом Общества. Генеральный директор осуществляет
    руководство, ежедневное управление Общества и представительские полномочия Общества.
  </p>
  <div class="headline">
    <h4>Генеральный директор</h4>
  </div>
  <p>
    Генеральный директор осуществляет руководство текущей деятельностью Общества.
    Он является единоличным исполнительным органом Общества. Генеральный директор осуществляет
    руководство, ежедневное управление Общества и представительские полномочия Общества.
  </p>
  <div class="headline">
    <h4>Ревизионная комиссия (Ревизор) Общества</h4>
  </div>
  <p>
    Ревизионная комиссия (Ревизор) является постоянно действующим органом внутреннего контроля Общества,
    осуществляющим регулярный контроль над финансово-хозяйственной деятельностью Общества, его
    обособленных подразделений, должностных лиц органов управления Общества и структурных подразделений
    исполнительного аппарата Общества на предмет соответствия законодательству Грузии, Уставу Общества
    и внутренним документам Общества.
  </p>
</div>