<%= content_for :top do %>
<div class="row-fluid breadcrumbs margin-bottom-20">
  <div class="container">
    <h1>კორპორაციული მართვა</h1>
  </div>
</div>
<% end %>
<div class="row-fluid">
  <div class="headline">
    <h3>კორპორაციული მართვის პრინციპები</h3>
  </div>
  <p>
    სს &quot;თელასის&quot; კორპორაციული პოლიტიკა ხორციელდება საზოგადოების წესდების,
    შიდა დოკუმენტების, აგრეთვე კორპორაციული სამართლებრივი ურთიერთობების სფეროში საქართველოს
    ფუძემდებლური ნორმატიულ-სამართლებრივი აქტების შესაბამისად: &quot;მეწარმეთა შესახებ&quot;,
    &quot;ფასიანი ქაღალდების ბაზრის შესახებ&quot; კანონების და საქართველოს სხვა
    ნორმატიულ-სამართლებრივი აქტების თანახმად.
  </p>
  <div class="headline">
    <h3>საზოგადოების აქციონერთა და ინვესტორთა უფლებების უზრუნველყოფა</h3>
  </div>
  <p>
    საზოგადოების სამეთვალყურეო საბჭო, გენერალური დირექტორი უზრუნველყოფენ აქციონერთა
    და ინვესტორთა უფლებებისა და კანონიერი ინტერესების დაცვას.
  </p>
  <p>
    აქციონერის ძირითადი უფლებები &mdash; დივიდენდების მიღების  და საზოგადოების მართვაში
    მონაწილეობის უფლება &mdash; გარანტირებულია &quot;მეწარმეთა შესახებ&quot; საქართველოს კანონით
    და საზოგადოების წესდებით.
  </p>
  <p>
    საზოგადოების აქციონერებს უფლება აქვთ მონაწილეობა მიიღონ საზოგადოების მართვაში,
    უპირველეს ყოვლისა, მათ კომპეტენციაში შემავალ საკითხებთან დაკავშირებული გადაწყვეტილებების
    მიღების საშუალებით აქციონერთა საერთო კრებაზე.  
  </p>
  <p>
    აქციონერებს უფლება აქვთ თავისუფლად განკარგონ თავისი აქციები მოქმედი კანონმდებლობის
    დებულებების შესაბამისად. აღრიცხვის სისტემა უზრუნველყოფს აქციებზე საკუთრების
    უფლების აღრიცხვის საიმედოობას, აგრეთვე აქციონერთა კუთვნილ აქციათა თავისუფალი და
    სწრაფი გასხვისების შესაძლებლობას. საზოგადოების აქციებზე აქციონერის საკუთრების უფლების
    ნებისმიერი დარღვევისაგან დაცვა გარანტირებულია დამოუკიდებელი რეგისტრატორის მიერ
    აქციონერთა რეესტრის წარმოების და შენახვის საფუძველზე.
  </p>
  <p>
    საზოგადოებას საერთო კრებაზე შეუძლია გამოაცხადოს აქციონერთათვის დივიდენდების
    გადახდის შესახებ, გასანაწილებელ მოგებაზე მათი უფლებების და პრივილეგიების გათვალისწინებით.
    საზოგადოებას უფლება არა აქვს მიიღოს გადაწყვეტილება დივიდენდების გადახდასთან დაკავშირებით
    მოგების არარსებობის შემთხვევაში, ასევე დაუშვებელია დივიდენდების გაცემა ისეთი ოდენობით,
    რომელიც აღემატება სამეთვალყურეო საბჭოს რეკომენდაციებს.
  </p>
  <div class="headline">
    <h3>გამჭვირვალება და ინფორმაციული გახსნილობა</h3>
  </div>
  <p>
    საზოგადოების აქციონერთათვის უზრუნველყოფილია საზოგადოების საქმიანობის შესახებ
    ინფორმაციის თავისუფალი წვდომა. აქციონერთა მიმართ საინფორმაციო პოლიტიკა ხორციელდება
    მისაწოდებელი ინფორმაციის სისრულის, ოპერატიულობის, ობიექტურობის და სისწორის
    გათვალისწინებით. საზოგადოება აქციონერთათვის უზრუნველყოფს წესდების <code>6.3</code>
    პუნქტის მე-<code>4</code> ქვეპუნქტით  გათვალისწინებული დოკუმენტების წვდომას.
    აქციონერის მოთხოვნით საზოგადოება ვალდებულია მიაწოდოს მას წესდების <code>20.4</code>
    პუნქტით გათვალისწინებულ დოკუმენტთა ასლები.
  </p>
  <div class="headline">
    <h3>ბიზნესის მართვის ხარისხის კონტროლი და შეფასება</h3>
  </div>
  <p>
    კონტროლს საზოგადოების საფინანსო-სამეურნეო საქმიანობაზე ახორციელებს საზოგადოების
    სამეთვალყურეო საბჭო, სამეთვალყურეო საბჭოს აუდიტის კომიტეტი, საზოგადოების დამოუკიდებელი
    აუდიტორი, სარევიზიო კომისია (რევიზორი) და შიდა აუდიტის დეპარტამენტი.
  </p>
  <div class="headline">
    <h3>აქციონერთა უფლებების უზრუნველყოფა</h3>
  </div>
  <p>
    სს &quot;თელასში&quot; აქციონერთა უფლებების უზრუნველყოფის მიზნით მიღებულია შემდეგი
    შიდა დოკუმენტები, რომლებიც არეგულირებს საზოგადოების ორგანოთა საქმიანობას:
  </p>
  <div class="headline">
    <h4>წესდება</h4>
  </div>
  <p>
    წესდება საზოგადოების დამფუძნებელი დოკუმენტია. იგი შეიცავს ინფორმაციას საზოგადოების
    სამართლებრივი მდგომარეობის, მიზნებისა და საქმიანობის სახეობათა, საწესდებო კაპიტალის,
    აქციონერთა უფლებების შესახებ, მოიცავს საზოგადოების ორგანოების აღწერილობას,
    მათ კომპეტენციასა და საქმიანობის წესს. წესდების მოქმედი რედაქცია დამტკიცებულია
    სს &quot;თელასის&quot; აქციონერთა რიგგარეშე საერთო კრების მიერ 28.06.2012 (28.06.2012 წლის ოქმი).
  </p>
  <div class="headline">
    <h4>დებულება აქციონერთა საერთო კრების მომზადებისა და ჩატარების წესის შესახებ</h4>
  </div>
  <p>
    დებულება აქციონერთა საერთო კრების მომზადებისა და ჩატარების წესის შესახებ დამტკიცებულ იქნა
    სს &quot;თელასის&quot; აქციონერთა წლიური საერთო კრების 13.12.2006 გადაწყვეტილებით
    (ოქმი№ 2, 13.12.2006). დებულება განსაზღვრავს აქციონერთა საერთო კრების მომზადებისა და
    ჩატარების წესს, კრების ჩატარების ფორმებს, აკონკრეტებს საერთო კრების სამუშაო ორგანოების ფუნქციებს.
  </p>
  <div class="headline">
    <h4>დებულება სამეთვალყურეო საბჭოს სხდომების მოწვევისა და ჩატარების შესახებ</h4>
  </div>
  <p>
    დებულება სამეთვალყურეო საბჭოს სხდომების მოწვევისა და ჩატარების წესის შესახებ დამტკიცდა
    სს &quot;თელასის&quot; აქციონერთა საერთო კრების გადაწყვეტილებით 13.12.2006 (ოქმი№ 2, 13.12.2006).
    დებულება განსაზღვრავს სამეთვალყურეო საბჭოს სხდომების მოწვევისა და ჩატარების წესს,
    სამეთვალყურეო საბჭოს წევრთა უფლებებსა და მოვალეობებს.
  </p>
  <div class="headline">
    <h4>დებულება სამეთვალყურეო საბჭოს წევრთათვის ანაზღაურებისა და კომპენსაციების გადახდის შესახებ</h4>
  </div>
  <p>
    დებულება სს &quot;თელასის&quot; სამეთვალყურეო საბჭოს წევრთათვის ანაზღაურებისა და კომპენსაციების
    გადახდის შესახევ დამტკიცდა სს &quot;თელასის&quot; აქციონერთა რიგგარეშე საერთო კრების მიერ
    (ოქმი №13, 11.03.2009). დებულება განსაზღვრავს სამეთვალყურეო საბჭოს წევრთათვის გადასახდელი
    ანაზღაურებისა და კომპენსაციების გადხდის წესსა და ოდენობას. დებულების შესაბამისად,
    ანაზღაურებისა და კომპენსაციების გადახდა თავმჯდომარისა და სამეთვალყურეო საბჭოს წევრთათვის
    წარმოებს სამეთვალყურეო საბჭოს სხდომებში მონაწილეობისათვის, აღნიშნული სხდომების ჩატარების ფორმის მიუხედავად.
    სამეთვალყურეო საბჭოს წევრისათვის ანაზღაურებულ უნდა იქნეს სამეთვალყურეო საბჭოს სხდომაში
    მონაწილეობასთან დაკავშირებული ხარჯები, სხდომის ჩატარების მომენტისათვის საზოგადოებაში
    დადგენილი სამივლინებო ხარჯების ანაზღაურების მოქმედი ნორმების თანახმად.
  </p>
  <div class="headline">
    <h4>დებულება სარევიზიო კომისიის (რევიზორის) შესახებ</h4>
  </div>
  <p>
    დებულება სს &quot;თელასის&quot; სარევიზიო კომისიის (რევიზორის) შესახებ დამტკიცებულ იქნა
    სს &quot;თელასის&quot; აქციონერთა რიგგარეშე კრების გადაწყვეტილებით (ოქმი №3, 24.12.2009).
    დებულება განსაზღვრავს სარევიზიო კომისიი ამოცანებს, უფლებებსა და მოვალეობებს,
    ადგენს სარევიზიო შემოწმებების ჩატარების წესს.
  </p>
  <div class="headline">
    <h4>დებულება საზოგადოების სარევიზიო კომისიისათვის (რევიზორისათვის) ანაზღაურებისა და კომპენაციების გადახდის შესახებ</h4>
  </div>
  <p>
    დებულება საზოგადოების სარევიზიო კომისიისათვის (რევიზორისათვის) ანაზღაურებისა და კომპენაციების
    გადახდის შესახებ დამტკიცებულ იქნა სს &quot;თელასის&quot; აქციონერთა რიგგარეშე საერთო კრების
    გადაწყვეტილებით (ოქმი №13, 11.03.2009). დებულება ადგენს სარევიზიო კომისიის წევრთათვის,
    აგრეთვე სარევიზიო კომისიის მიერ მოზიდული სპეციალისტებისათვის (ექსპერტებისათვის) ანაზღაურებისა
    და კომპენსაციების გადახდის ოდენობას, ფორმასა და ვადებს.
  </p>
  <p>
    დებულების შესაბამისად, სარევიზიო კომისიის წევრისათვის (რევიზორისათვის), საზოგადოების
    საფინანსო-სამეურნეო საქმიანობის შემოწმებაში (რევიზიაში) მონაწილეობისათვის, ანაზღაურებისა
    და კომპენსაციების გადახდა ხორციელდება ერთჯერადი ანაზღაურების სახით. სარევიზიო
    კომისიის წევრისათვის (რევიზორისათვის) ანაზღაურებულ უნდა იქნეს სარევიზიო კომისიის სხდომაში
    მონაწილეობასა და შემოწმების ჩატარებასთან დაკავშირებული ხარჯები, ხარჯები, სხდომის ან
    შემოწმების ჩატარების მომენტისათვის საზოგადოებაში დადგენილი სამივლინებო ხარჯების ანაზღაურების
    მოქმედი ნორმების თანახმად.
  </p>
  <p>
    დებულება სამეთვალყურეო საბჭოს აუდიტის კომიტეტის შესახებ. დებულება სააქციო საზოგადოება
    &quot;თელასის&quot; სამეთვალყურეო საბჭოს აუდიტის კომიტეტის შესახებ დამტკიცებულ იქნა
    სს &quot;თელასის&quot; სამეთვალყურეო საბჭოს მიერ 2010 წლის 21 მაისს, ოქმი № 23.
    დებულება განსაზღვრავს კომიტეტის სტატუსსა და კომპეტენციას, უფლებებსა და მოვალეობებს,
    შემადგენლობას, ფორმირების, მუშაობისა და საზოგადოების მართვის ორგანოებთან ურთიერთქმედების წესს.
  </p>
  <div class="headline">
    <h4>დებულება საზოგადოების აქციონერებთან ურთიერთქმედების შესახებ</h4>
  </div>
  <p>
    დებულება საზოგადოების აქციონერებთან ურთიერთქმედების სისტემის შესახებ დამტკიცებულ
    იქნა გენერალური დირექტორის მიერ 2010 წლის 08 ოქტომბერს, ბრძანება № 178.
    დებულება განსაზღვრავს სისტემის მიზნებს, ფუნქციონირების ამოცანებს, აღნიშნული სისტემის
    დაგეგმვის, რეალიზაციის და კონტროლის დროს, მის ფარგლებში გამოყენებულ მეთოდოლოგიურ
    მიდგომებსა და რეგლამენტებს.  
  </p>
  <div class="headline">
    <h4>საზოგადოების აქციონერთა განცხადებებსა და მოთხოვნებზე მუშაობის მეთოდიკა</h4>
  </div>
  <p>
    საზოგადოების აქციონერთა განცხადებებსა და მოთხოვნებზე მუშაობის მეთოდიკა დამტკიცებულ
    იქნა გენერალური დირექტორის მიერ 2010 წლის 22 ნოემბერს, ბრძანება №212.
    მეთოდიკა ახორციელებს საზოგადოების აქციონერთა განცხადებებზე მუშაობის რეგლამენტირებას.
  </p>
  <div class="headline">
    <h3>საზოგადოების მართვისა და კონტროლის ორგანოების სტრუქტურა</h3>
  </div>
  <p>
    სს &quot;თელასის&quot; წესდების შესაბამისად, საზოგადოების მართვისა და კონტროლის ორგანოებია:
  </p>                                        
  <ul>
    <li>აქციონერთა საერთო კრება
    <li>სამეთვალყურეო საბჭო
    <li>გენერალური დირექტორი
    <li>სარევიზიო კომისია (რევიზორი)
    <li>სამეთვალყურეო საბჭოს აუდიტის კომიტეტი
  </ul>
  <div class="headline">
    <h4>აქციონერთა საერთო კრება</h4>
  </div>
  <p>
    საზოგადოების აქციონერთა საერთო კრება წარმოადგენს მართვის უმაღლეს ორგანოს.
    აქციონერთა საერთო კრება აქციონერებს საშუალებას აძლევს მოახდინონ საზოგადოების მართვაში
    მონაწილეობის უფლების რეალიზაცია საზოგადოების საქმიანობის ყველაზე მნიშვნელოვან საკითხებთან
    დაკავშირებით გადაწყვეტილებების მიღების გზით, აქციონერთა საერთო კრების კომპეტენციის შესაბამისად.
    სამეთვალყურეო საბჭო, აღმასრულებელი ორგანოები, სარევიზიო კომისია ანგარიშვალდებული არიან
    აქციონერთა საერთო კრების წინაშე. აქციონერთა საერთო კრების კომპეტენცია, მისი მომზადებისა
    და ჩატარების ვადები და წესი, აგრეთვე ჩატარების ფორმა განსაზღვრულია საქართველოს კანონში
    &quot;მეწარმეთა შესახებ&quot;, წესდებასა და აქციონერთა საერთო კრების მომზადებისა და
    ჩატარების შესახებ დებულებაში.
  </p>
  <div class="headline">
    <h4>საზოგადოების სამეთვალყურეო საბჭო</h4>
  </div>
  <p>
    საზოგადოების საქმიანობის საერთო ხელმძღვანელობას ახორციელებს სამეთვალყურეო საბჭო,
    რომელიც იღებს გადაწყვეტილებებს საზოგადოების საქმიანობის არსებით საკითხებთან დაკავშირებით,
    წესდებით განსაზღვრული კომპეტენციის შესაბამისად. საზოგადოების სამეთვალყურეო საბჭოს
    საქმიანობის წესი რეგულირდება წესდებითა და სამეთვალყურეო საბჭოს სხდომების მოწვევისა
    და ჩატარების წესის შესახებ დებულებით. სამეთვალყურეო საბჭო წარმოადგენს ექვის წევრისაგან
    შემდგარ კოლეგიალურ ორგანოს. საზოგადოების სამეთვალყურეო საბჭოს წევრების არჩევა
    ხორციელდება საზოგადოების აქციონერთა საერთო კრებაზე. სამეთვალყურეო საბჭოს ყველა
    წევრი არჩეულია ოთხი წლის ვადით, ამ ვადის ამოწურვის შემდეგ მათი უფლებამოსილება გრძელდება
    აქციონერთა მორიგი საერთო კრების მოწვევამდე. აქციონერთა საერთო კრების გადაწყვეტილებით
    შესაძლებელია სამეთვალყურეო საბჭოს წევრთა უფლებამოსილების ვადამდელი შეწყვეტა.
    სამეთვალყურეო საბჭოს შემადგენლობაში არჩეული პირების ხელახალი არჩევა შესაძლებელია
    შეუზღუდავად. აქციონერთა საერთო კრების გადაწყვეტილებით შესაძლებელია სამეთვალყურეო საბჭოს
    წევრის ვადამდელი გადარჩევა.
  </p>
  <div class="headline">
    <h4>გენერალური დირექტორი</h4>
  </div>
  <p>
    გენერალური დირექტორი ახორციელებს საზოგადოების მიმდინარე საქმიანობის ხელმძღვანელობას.
    იგი წარმოადგენს საზოგადოების ერთპიროვნულ აღმასრულებელ ორგანოს. გენერალური დირექტორი
    ახორციელებს საზოგადოების ხელმძღვანელობას, ყოველდღიურ მართვასა და წარმომადგენლობით უფლებამოსილებებს.
  </p>
  <div class="headline">
    <h4>საზოგადოების სარევიზიო კომისია (რევიზორი)</h4>
  </div>
  <p>
    სარევიზიო კომისია (რევიზორი) არის საზოგადოების შიდა კონტროლის მუდმივმოქმედი ორგანო,
    რომელიც რეგულარულად აკონტროლებს საზოგადოების, მისი ცალკეული ქვედანაყოფების,
    მართვის ორგანოების თანამდებობრივ პირთა და აღმასრულებელი აპარატის სტრუქტურული
    ქვედანაყოფების საფინანსო-სამეურნეო საქმიანობას საქართველოს კანონმდებლობასთან,
    საზოგადოების წესდებასა და შიდა დოკუმენტებთან შესაბამისობის თვალსაზრისით.
  </p>
  <div class="headline">
    <h4>სამეთვალყურეო საბჭოს აუდიტის კომიტეტი</h4>
  </div>
  <p>
    კომიტეტის ამოცანაა საზოგადოების სამეთვალყურეო საბჭოსათვის რეკომენდაციების (დასკვნების)
    შემუშავება და წარდგენა აუდიტისა და შიდა კონტროლის სფეროში. აუდიტის კომიტეტი უზრუნველყოფს
    სამეთვალყურეო საბჭოს ფაქტობრივ მონაწილეობას საზოგადოების საფინანსო-სამეურნეო საქმიანობის
    კონტროლში. კომიტეტის ერთ-ერთი უმთავრესი ფუნქციაა დამოუკიდებელი აუდიტორული ორგანიზაციის
    შერჩევასთან დაკავშირებული რეკომენდაციების შემუშავება, აგრეთვე საზოგადოების სარევიზიო
    კომისიასა და შიდა აუდიტის დეპარტამენტთან ურთიერთქმედება. კომიტეტის შემადგენლობა განსაზღვრულია
    საზოგადოების სამეთვალყურეო საბჭოს გადაწყვეტილებით და მოიცავს სამ წევრს.
  </p>
</div>