<div class="page-header">
  <h1>Миссия</h1>
</div>
<div class="well-read">
  <p>
    Миссия акционерного общества "Теласи" — надежное и качественное энергоснабжение потребителей
    г. Тбилиси.
  </p>
  <p>
    Наша деятельность направлена на повышение инвестиционной привлекательности компании,
    совершенствование систем управления, внедрение современных высокоэффективных технологий,
    развитие и повышение качества обслуживания потребителей.
  </p>
  <p>
    Мы дорожим корпоративной культурой, главными ценностями которой считаем высокий профессионализм, гибкость системы управления, эффективное сочетание дисциплины и творчества наших сотрудников. Компания формирует команду профессионалов, постоянно заботится о повышении квалификации своих сотрудников и их социальной защищенности. Команде Компании свойственны стремление к эффективной работе и преданность корпоративным ценностям.
  </p>
  <p>
    Деятельность АО "Теласи" максимально открыта и прозрачна для акционеров, инвесторов,
    партнеров по бизнесу, общественности.
  </p>
  <p>
    Мы намерены сделать компанию максимально прибыльной, современной и динамичной в интересах её акционеров.
  </p>
</div>