<p>
  სააქციო საზოგადოება &quot;თელასის&quot; მისიაა ქალაქ თბილისში მომხმარებელთა
  საიმედო და ხარისხიანი ენერგომომარაგება.
</p>
<p>
  ჩვენი საქმიანობა მიმართულია კომპანიის საინვესტიციო მიმზიდველობის ამაღლებაზე,
  მართვის სისტემების სრულყოფაზე, თანამედროვე მაღალეფექტური  ტექნოლოგიების დანერგვაზე,
  მომხმარებელთა მომსახურების განვითარებასა და ხარისხის ამაღლებაზე.
</p>
<p>
  უდიდეს მნიშვნელობას ვანიჭებთ კორპორაციულ კულტურას, რომლის მთავარ ფასეულობად
  მიგვაჩნია მაღალი პროფესიონალიზმი, მართვის სისტემის მოქნილობა, თანამშრომლების
  დისციპლინისა და შემოქმედების ეფექტური შერწყმა. კომპანია ქმნის პროფესიონალების გუნდს,
  მუდმივად ზრუნავს საკუთარი თანამშრომლების კვალიფიკაციის ამაღლებაზე და მათ სოციალურ დაცვაზე.
  კომპანიაში შექმნილ გუნდს ახასიათებს სწრაფვა ეფექტური მუშაობისაკენ და კორპორაციული
  ფასეულობებისადმი ერთგულება.
</p>
<p>
  სს &quot;თელასის&quot; საქმიანობა მაქსიმალურად გახსნილი და გამჭვირვალეა აქციონერთათვის,
  ინვესტორებისათვის, ბიზნეს-პარტნიორებისა და საზოგადოებისათვის.
</p>
<p>
  ჩვენ განზრახული გვაქვს კომპანია გავხადოთ მაქსიმალურად მომგებიანი, თანამედროვე და დინამიური,
  რაც კომპანიის აქციონერთა ინტერესებშია.
</p>