<%= content_for :top do %>
<div class="row-fluid breadcrumbs margin-bottom-20">
  <div class="container">
    <h1>Mission</h1>
  </div>
</div>
<% end %>
<div class="well-read">
  <p>
    The Mission of the Joint-Stock company &quot;Telasi&quot; consists in reliable and high-quality
    power distribution to the customers of Tbilisi.
  </p>
  <p>
    Our performance is aimed at promotion of investment attractiveness of our company,
    perfection of management systems, implementation of state-of-the-art, high-performance
    technologies, development and advancement of customer service quality.
  </p>
  <p>
    We cherish corporate culture which includes such main values as high professionalism,
    flexibility of management system, effective combination of discipline and creativity of our
    employees. The Company shapes the team of professionals, takes day-by-day care on improvement
    of its employees’ skills and their social security. The team of the Company has the quality
    to strive for effective work and to be devoted to corporate values.
  </p>
  <p>
    Activities of JSC &quot;Telasi&quot; is open and transparent for shareholders, investors,
    business partners and community as much as possible.
  </p>
  <p>
    We intend to turn Company as profitable as possible, modern and dynamic in the interests of
    its shareholders.
  </p>
</div>