<%= content_for :top do %>
<div class="row-fluid breadcrumbs margin-bottom-20">
  <div class="container">
    <h1>Организационная структура</h1>
  </div>
</div>
<% end %>
<div class="well-read">
  <%= downloads_table [
    { label: '<em>Организационная структура</em> АО &quot;Теласи&quot;',
      url: '/docs/telasi/organizational_structure_2012_rus.pdf' },
  ] %>
</div>