<div class="footer">
  <div class="container">
    &copy; 2013 <a href="http://telasi.ge"><%= t('info.telasi') %></a>
    <span class="text-muted"><%= t('info.department') %></span>
    <div class="muted" style="font-size: 0.8em; padding-top: 0px;">
      <%= t('info.support_text') %> <%= mail_to 'support@telasi.ge' %>.
    </div>
  </div>
</div>